@model IEnumerable<IdentityBaseWork.Models.Bus>

@{
    ViewData["Title"] = "Bus_List";
    Layout = "~/Views/Shared/_Layoutemp.cshtml";
}

<h1>Bus_List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusImgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusImgName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route.DestinationLocation)
            </td>
        </tr>
}
    </tbody>
</table>
