@model IEnumerable<IdentityBaseWork.Models.Routes>

@{
    ViewData["Title"] = "routes_List";
    Layout = "~/Views/Shared/_Layoutemp.cshtml";
}

<h1>routes_List</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelTime)
            </td>
        </tr>
}
    </tbody>
</table>
