@model IdentityBaseWork.Models.Bus

@{
    ViewData["Title"] = "BusDelete";
    Layout = "~/Views/Shared/_Layoutdb.cshtml";

}

<h1>BusDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSeatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSeatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceFactor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceFactor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusImgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusImgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.DestinationLocation)
        </dd>
    </dl>
    
    <form asp-action="BusDelete">
        <input type="hidden" asp-for="BusID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
