@model IdentityBaseWork.Models.Routes

@{
    Layout = "~/Views/Shared/_Layoutdb.cshtml";

    ViewData["Title"] = "routes_Details";
}

<h1>routes_Details</h1>

<div>
    <h4>Routes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartingLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartingLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RouteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
